---
import tw from "clsx";
import MenuButton from "./MenuButton.svelte";
import Center from "./Center.astro";
import Icon from "astro-icon";
---

<Center class={tw(`flex justify-center w-full`)}>
  <nav
    class={tw(
      `flex justify-between items-center p-8 pb-0`,
      `w-full max-w-[1024px]`
    )}
  >
    <div
      class="bg-primary rounded-full min-w-[2rem] max-w-[4rem] flex justify-center items-center"
    >
      <img
        class="w-full h-full"
        src="/portrait.png"
        alt="portrait of jacob shuman"
      />
    </div>

    <div class="flex items-center gap-8 font-semibold font-poppins text-lg">
      <!-- <a>Resources</a> -->

      <a class="hidden sm:inline" href="/resume.pdf">Resume</a>
      <!-- <Icon pack="tabler" name="moon-stars" /> -->

      <MenuButton client:load>
        <h1 slot="open">open</h1>
        <h1 slot="closed">close</h1>
        <!-- <Icon slot="open" pack="tabler" name="x" />
        <Icon slot="closed" pack="tabler" name="menu" /> -->
      </MenuButton>
    </div>
  </nav>
</Center>
