---
import Body from "../components/Body.svelte";
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" /> -->
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />

    <!-- TODO: see https://github.com/jonasmerlin/astro-seo#readme -->
    <SEO
      title="Jacob Shuman"
      openGraph={{
        basic: {
          title: "Jacob Shuman",
          type: "",
          image: "",
        },
      }}
      twitter={{
        creator: "@jacob_shuman7",
      }}
    />
    <!-- <link
      href="https://api.fontshare.com/v2/css?f[]=tabular@1&display=swap"
      rel="stylesheet"
    /> -->
  </head>

  <Body>
    <slot />
  </Body>
</html>
